.App {
  text-align: center;
}

.card-img {
  height: 300px;
}

.card {
  margin-bottom: 30px;
}

.rocket-info {
  margin: 20px 0px;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
  margin: 30px;
  font-size: 48px;
}

.fliter-wrapper {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.filter-height {
  padding: 15px;
  text-align: center;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #242b2e;
  color: white;
}

.navlinks {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navlinks li {
  cursor: pointer;
  color: white;
  transition: all 0.5s ease;
}
.navlinks li:hover {
  color: #03c6c7;
}

.logo {
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}
.logo:hover {
  color: #03c6c7;
}
