.App {
  text-align: center;
}

.card-img {
  height: 300px;
}

.card {
  margin-bottom: 30px;
}

.rocket-info {
  margin: 20px 0px;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
  margin: 30px;
  font-size: 48px;
}

.fliter-wrapper {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.filter-height {
  padding: 15px;
  text-align: center;
  width: 100%;
}
